/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable hue-degree-notation */
/* stylelint-disable alpha-value-notation */
/* stylelint-disable declaration-colon-newline-after */
/* stylelint-disable value-list-comma-newline-after */
/* stylelint-disable color-function-notation */
/* stylelint-disable selector-combinator-space-before */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable indentation */
/* stylelint-disable selector-descendant-combinator-no-non-space */
@import url("./prose.css");
@import url("./font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

/* stylelint-disable-next-line selector-id-pattern */
body > #__next {
  min-height: 100vh;
}

.d2h-wrapper .d2h-file-header {
  display: none !important;
}

.d2h-wrapper .d2h-file-wrapper {
  background-color: #fff;
  border-color: #ccd3db;
  border-top-width: 0;
  border-radius: 0 0 4px 4px;
}

.d2h-wrapper .d2h-code-linenumber {
  background-color: #fff;
}

.ant-avatar.object-contain > img {
  object-fit: contain !important;
}

.ant-card.link-card .ant-card-body {
  @apply p-4;
}

.ant-select
  .ant-select-selector
  .ant-select-selection-item
  .ant-space
  .ant-space-item
  .description {
  @apply hidden;
}

.ant-select .ant-select-selector .ant-select-selection-item .description {
  @apply hidden;
}

.issues-card
  .issues-list.ant-list-vertical
  .ant-list-item
  .ant-list-item-meta
  .ant-list-item-meta-title {
  @apply mb-2;
}

.issues-card
  .issues-list.ant-list.ant-list-vertical
  .ant-list-item
  .ant-list-item-action {
  @apply mt-2;
}

.issues-card
  .issues-list.ant-list-vertical
  .ant-list-item:hover
  .ant-list-item-meta
  .ant-list-item-meta-title
  .issue-title {
  @apply underline;
}

.question-menus-collapse.ant-collapse
  .ant-collapse-content
  > .ant-collapse-content-box {
  @apply px-0;
}

.list-article-card.ant-card:hover {
  box-shadow:
    0 2px 12px hsla(0, 25%, 66%, 0.03),
    0 8px 12px rgba(0, 0, 0, 0.06),
    0 20px 32px rgba(0, 0, 0, 0.06);
}

.list-article-card.ant-card .ant-card-body {
  @apply max-h-[800px] overflow-hidden p-0;
}

.media-wrapper {
  position: relative;
  cursor: pointer;
  perspective: 500px;
  transform-style: preserve-3d;
}

@media (width >= 1024px) {
  .media-wrapper.image-media-wrapper {
    box-shadow: none;
    transition: transform 0.3s;
    transform: matrix(1, -0.04, 0.08, 1, 0, 0);
  }

  .media-wrapper.image-media-wrapper .before {
    position: absolute;
    top: 0;
    left: -10px;
    width: 10px;
    height: 100%;
    background: linear-gradient(-105.28deg, #c4cad3 97.55%, #c4cad3 13.23%);
    box-shadow: -25px 30px 72px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transform: skewY(-45deg);
    transform-origin: right;
  }

  .media-wrapper.image-media-wrapper .after {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(105.28deg, #c4cad3 13.23%, #9ba5b6 97.55%);
    box-shadow: -25px 30px 72px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transform: skewX(-45deg);
    transform-origin: top;
  }
}

.media-wrapper.image-media-wrapper {
  box-shadow: -25px 30px 72px 0 #0000001a;
}

.articles-collapse.ant-collapse
  .ant-collapse-content
  > .ant-collapse-content-box {
  @apply p-0;
}

.questions-collapse.ant-collapse
  .ant-collapse-content
  > .ant-collapse-content-box {
  @apply p-0;
}

/* 关于里面map样式 */

/* 不是使用transform的scale属性，所以不能使用 tailwind */
.china-map {
  scale: 0.6;
}

@media (width <= 768px) {
  .china-map {
    scale: 1.32;
  }
}

.china-map-wrapper:hover .china-map {
  scale: 2.4;
}

.china-map .st1 {
  stroke-dasharray: 4, 4;
  stroke-dashoffset: 4;
}

.china-map .st2 {
  stroke-dasharray: 8, 4, 4, 4;
}

.china-map .st3 {
  stroke: #38f;
}

.china-map .st5,
.china-map .st6 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-width: 0;
}

@keyframes about-starts {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes about-banner {
  0% {
    width: 0;
  }
}

@keyframes about-opacity {
  0% {
    opacity: 0;
  }
}

@keyframes about-wrap {
  0% {
    white-space: nowrap;
  }

  100% {
    white-space: normal;
  }
}

.earth:hover + .stars-wrapper > div {
  animation-duration: 2s;
}

.game-card:hover .c,
.game-card:hover .s {
  animation-play-state: paused;
}

@keyframes title-blur-change {
  100% {
    filter: blur(15px) contrast(200%);
  }
}

.toolkits-title:hover {
  filter: url("#filter");
}

.fireworks {
  animation:
    fireworks 2s steps(24) infinite,
    fireworks-position 8s steps(1) infinite,
    fireworks-color 1s infinite;
}

@keyframes fireworks {
  0% {
    -webkit-mask-position: 0%;
    mask-position: 0%;
  }

  50%,
  100% {
    -webkit-mask-position: 100% 100%;
    mask-position: 100% 100%;
  }
}

@keyframes fireworks-position {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(200%, 50%) scale(0.8);
  }

  50% {
    transform: translate(80%, 80%) scale(1.2);
  }

  75% {
    transform: translate(20%, 60%) scale(0.65);
  }
}

@keyframes fireworks-color {
  0% {
    background-color: #ffefad;
  }

  25% {
    background-color: #ffadad;
  }

  50% {
    background-color: #aeadff;
  }

  75% {
    background-color: #adffd9;
  }
}

@media screen and (prefers-reduced-motion) {
  /* 禁用不必要的动画 */
  .fireworks {
    animation: none;
  }
}
